.header {
    background-color: #1192fc;
    padding-top: 0.325rem;
    padding-bottom: 0.325rem;
}

.title {
    margin: 1rem;
    color: #e0f2ff;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

.subtitle {
    padding: 1rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 0.95rem;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle-container {
    background-color: rgba(0, 0, 0, 0.0235);
}